/*CSS reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button {
	border: none;
}
button:focus {
	outline: none;
}
/*End CSS reset*/

body {
	background: #F9C701 url(../img/bg.png) repeat;
	font: 11px/14px 'PT Sans', sans-serif;
	color: #39505E;
	padding-bottom: 15px;
}

/*MAIN MENU*/
.main-menu > li {
	display: inline-block;
	height: 100%;
	padding-top: 0.5em;
	margin-left: 1.2em;
	position: relative;
}
.main-menu > li:first-child {
	margin-left: 0;
}
nav a {
	text-decoration: none;
	color: #fff;
	margin: 0 auto;
}
nav {
	height: 35px;
	width: 100%;
	font: bold 14px 'PT Sans', sans-serif;
	background-color: #293542;
	box-shadow: 0 5px 0 rgba(43,53,66,0.16);
}
.main-menu {
	width: 960px;
	height: 100%;
	margin: 0 auto;
}
.main-menu > li > ul {
    position: absolute;
    top: 35px;
    width: 15em;
    background-color: #374a5e;
    border-radius: 0 0 7px 7px;
    display: none;
}
.submenu {
	z-index: 10;
}
.submenu > li {
	font-weight: normal;
	padding: 0.5em 0.6em 0.5em 0.6em;
	border-bottom: 1px solid #51657b;
}

.submenu > li:last-child {
	border:none;
}

.main-menu > li:hover > .submenu {
    display: block;
}
/*END MAIN MENU*/

/*HEADER*/
.header {
	height: 13em;
	box-shadow: 0 1px 9px rgba(0,0,0,0.18);
	position: relative;
}

.header .left,
.header .right {
    position: absolute;
    width: 50%;
    height: 13em;
    top: 0;
}

.header .left {
    left: 0;
    background-image: linear-gradient(to top, #fdb31e, #fed428);
}

.header .right {
    right: 0;
    background: url('../img/header-right-bg.png') repeat-x;
}

.header-main {
    width: 960px;
    height: 100%;
    z-index: 2;
    position: relative;
    background: url('../img/header-bg.png') no-repeat;
    margin: 0 auto;
}
.header-main .logo {
	box-shadow: 2px 2px 6px rgba(0,0,0,0.18);
	float: left;
}
.contacts {
	position: absolute;
	left: 147px;
	float: left;
}

.contacts .city {
	height: 3em;
	width: 13.5em;
	background-image: linear-gradient(to top, #be3e23, #e05721);
	border-radius: 3px;
	box-shadow: 0 0 5px rgba(0,0,0,0.17);
	box-sizing: border-box;
	text-align: center;
	padding-top: 0.5em;
	margin: auto;


}
.city span {
	font: 14.5px 'Ubuntu', sans-serif;
	color: #febe10;
	text-shadow: 0 0 5px rgba(0,0,0,0.17);
}

.phone {
	margin-top: 10px;
	font: 14px 'Ubuntu', sans-serif;
	font-style: italic;
	font-weight: 500;
}
.phone div {
	padding-left: 7px;
}
.phone .phone-num {
	font-size: 27px;
	color: #3A444F;
	font-style: normal;
	font-weight: bold;
	text-shadow: 0px 0px 6px rgba(225,224,16,0.36);
	margin-top: 7px;
	padding-left: 15px;
	background: url(../img/phone-bg.png) no-repeat;
}


.excursion {
	position: absolute;
	left: 407px;
	width: 195px;
	height: 47px;
	background: url(../img/excursion-bg.png) no-repeat;
	text-align: center;
	padding-top: 10px;
}
.excursion a {
	font-size: 15px;
	color: #283441;
	text-decoration: none;
	border-bottom: 1px dashed #283441;
	padding-bottom: 3px;
}

.slogan {
	position: absolute;
	left: 525px;
	top: 50px;
	width: 80px;
	text-shadow: 0 0 6px rgba(255,243,216,0.33);
	font-weight: 700;
	line-height: 1;
}
.slogan span {
	color: #c54323;
}
.choose-city {
	position: absolute;
	right: 0px;
	width: auto;
	margin-top: 30px;
	font: bold 15.5px 'PT Sans', sans-serif;
	background: url(../img/buttons-bg.png) no-repeat;
}

.choose-city div {
	margin-left: 90px;
	text-shadow: 0 0 6px rgba(255,255,255,0.3);
 }

.choose-city button {
	margin-top: 30px;
	width: 150px;
	height: 30px;
	border-radius: 15px;
	box-shadow: inset 0 0 20px rgba(20,43,62,0.64),
	            0 0 30px rgba(255,198,26,1);
	background-image: linear-gradient(to top, #1f4868, #488abe);
	border: 1px solid rgba(255,222,115,0.58);
	font: 13.5px 'Ubuntu', sans-serif;
	font-weight: lighter;
	color: #f9c807;
	cursor: pointer;
}
.choose-city button:active{
	box-shadow: inset 0 0 20px rgba(20,43,62,0.64),
	            0 0 30px rgba(255,198,26,1);
	background-image: linear-gradient(to top, #294d6a, #1c3345);

}
.choose-city button:first-of-type {
	margin-right: 20px;
}
/*END HEADER*/
.wrapper {
	position: relative;
	width: 960px;
	margin: auto;
	z-index: 7;
}
.wrapper:first-of-type {
	position: relative;
	width: 960px;
	margin: -25px auto 0;
	z-index: 7;
}
.map {
	margin-bottom: 30px;
}

.order-form {
	position: relative;
	background-color: #fff;
	padding: 30px 20px 50px;
	border-radius: 3px;
	box-shadow: 0 0 7px rgba(0,0,0,0.3);
	margin-bottom: 50px;
}

input[type="text"], select {
	border: 1px solid #293542;
	border-radius: 5px;
	padding: 0 12px;
	font: 14px 'PT Sans', sans-serif;
	box-sizing: border-box;
}
.destination, .userdata {
	position: relative;
	margin-bottom: 25px;
}
input:focus, select:focus {
	outline: none;
	border: 1px solid rgba(255,184,15,1);
	box-shadow: 0 0 10px rgba(255,184,15,1);
}

.destination input {
	position: absolute;
	width: 376px;
	height: 25px;
	background: url(../img/input-bg.png) no-repeat;
	background-position: 98%;

}
input[name="pointA"] {
	left: 0;
}

input[name="pointB"] {
	right: 0;
}

.destination img {
	position: relative;
	top: -2px;
	left: 43%;
}

.userdata input {
	width: 288px;
	height: 25px;
}
select {
	width: 308px;
	height: 25px;
}
.userdata input {
	margin-right: 25px;
}

select {
    position: relative;
    background: none;
    z-index: 100;
    background-color: transparent;
    border: none;
    color: #96a0aa;
    top: -2px;
}
select option {
	color: black;
	width: 288px;
}

.select-outer {
	border-color: #FFF;
	height: 25px;
    width: 288px;
    overflow: hidden;
    display: inline-block;
    position: relative;
    border: 1px solid #293542;
	border-radius: 5px;
	box-sizing: border-box;
	top: 7px;
}
.select:focus {
	border: 1px solid rgba(255,184,15,1);
	box-shadow: 0 0 10px rgba(255,184,15,1);
}

.select-button {
    background: url('../img/select.png') center center no-repeat;
    height: 17px;		/* Размеры подготовленной картинки */
    width: 32px;
    position: absolute;		/* Размещаем объект по правому краю */
    right: 0;
    top: 5px;
    bottom: 0;
    z-index: 50;		/* И спускаем его на нижний слой - чтобы ссылка */
                                /* не перехватывала событие щелчка от select'а */
}

.result {
	text-align: center;
	color: #293542;
	font: 18px 'PT Sans', sans-serif;
}
.actions {
	position: absolute;
	width: 735px;
	z-index: 2;
	bottom: -30px;
	left: 115px;
}
.actions button {
	width: 348px;
	height: 61px;
	border-radius: 5px;
	background-image: linear-gradient(to top, #fbae13, #fd9f09);
	box-shadow: 0 0 0 4px rgba(0,0,0,0.11);
	font: 24px 'PT Sans', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	color: #cb7d00;
	text-shadow: 0 0 6px rgba(208,130,0,0.31),
	             0 0 2px rgba(255,184,15,0.7);
}
.actions button:active {
	background-image: linear-gradient(to top, #ffb619, #ffba00);
	box-shadow: 0 0 0 4px rgba(0,0,0,0.11),
	            inset 0 0 29px rgba(162,111,23,0.32);
}
.actions button:first-child {
	margin-right: 33px;
}

.features {
	padding: 13px 0;
	margin-bottom: 25px;
	border-top: 1px dashed #3b5260;
	border-bottom: 1px dashed #3b5260;
}

.feature {
	display: inline-block;
	box-sizing: border-box;
	width: 160px;
	height: 145px;
	padding-top: 15px;
	font: 18px 'PT Sans', sans-serif;
	color: #293542;
	text-align: center;
	margin-right: 90px;
}

.feature:hover {
	background-color: rgba(251,251,251,0.3);
	box-shadow: 0 0 7px rgba(0,0,0,0.15);
	border-radius: 5px;
	cursor: pointer;
}

.transition {
	transition: 0.5s;
}

.feature:last-child {
	margin-right: 0;
}

.tenmin, .polite-drivers, .free-cars, .discount {
	margin: 0 auto 20px;
}

.tenmin, .tenmin:hover, .polite-drivers, .polite-drivers:hover, .free-cars,
.free-cars:hover, .discount, .discount:hover, .vk, .fb {
	background: url(../img/features.png) no-repeat;
}

.feature:hover .tenmin {
	background-position: 0 0;
	width: 45px;
	height: 43px;
}

.tenmin {
	background-position: -50px 0;
	width: 45px;
	height: 43px;
}

.feature:hover .polite-drivers {
	background-position: 0 -50px ;
	width: 41px;
	height: 34px;
}

.polite-drivers {
	background-position: -50px -50px ;
	width: 41px;
	height: 34px;
}

.feature:hover .free-cars {
	background-position: 0 -100px ;
	width: 22px;
	height: 34px;
}

.free-cars {
	background-position: -50px -100px ;
	width: 22px;
	height: 34px;
}

.feature:hover .discount {
	background-position: 0 -150px ;
	width: 32px;
	height: 32px;
}

.discount {
	background-position: -50px -150px ;
	width: 32px;
	height: 32px;
}

.bonus {
	width: 520px;
	margin: auto;
	font: 24px 'PT Sans', sans-serif;
	font-weight: bold;
	color: #384C61;
}

.bonus button {
	width: 516px;
	height: 68px;
	background-image: linear-gradient(to top, #293542, #3e556d);
	border-radius: 5px;
	box-shadow: 0 0 0 4px rgba(0,0,0,0.11);
	text-shadow: 0 0 6px rgba(0,0,0,0.5),
	             0 0 2px rgba(255,184,15,0.7);
	font: 24px 'PT Sans', sans-serif;
	font-weight: bold;
	color: #F6C607;
	text-transform: uppercase;
	margin: 35px 0 35px 0;
}
.bonus button:active {
	background-image: linear-gradient(to top, #3e556d, #293542);
}

.slider {
	position: relative;
	width: 100%;
	height: 625px;
	box-shadow: 0 5px 0 rgba(255,249,224,0.43);
	margin-bottom: 30px;
}

.slider img {
	position: relative;
	width: 100%;
	margin: auto;
	z-index: -1;
}

.sms-order {
	position: absolute;
	width: 550px;
	font-size: 72px;
	line-height: 72px;
	font-weight: bold;
	color: #fff;
	top: 70px;
	left: 30%;
	text-align: center;
}

.bubble {
	position: relative;
	box-sizing: border-box;
	padding: 45px 25px;
	margin: 70px 0 35px 0;
	width: 550px;
	border-radius: 10px;
	background-color: rgba(41,53,66,0.8);
	font-size: 60px;
}

.bubble::after {
	content: '';
    position: absolute;
    left: 250px; bottom: -40px;
    border: 25px solid transparent;
    border-top: 15px solid rgba(41,53,66,0.8);
}

.sms-order span {
	color: #f1c207;
}
.sms-order span.bold {
	font-weight: bold;
}
.sms-order .text {
	font: normal 60px 'PT Sans', sans-serif;
	margin-bottom: 10px;
}
.sms-order .small-text {
	font: normal 30px 'PT Sans', sans-serif;
}
/*NEWS*/
.news {
	margin-top: 30px;
	padding-bottom: 30px;
	border-bottom: 1px dashed #3b5260;
}
.news h2 {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 40px;
}

.news h3 {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.leftcol {
	width: 435px;
	float: left;
	height: 100%;
}

.rightcol {
	margin-left: 525px;
}

.article {
	margin-bottom: 50px;
}

.article:last-child {
	margin-bottom: 0;
}
/*END NEWS*/

/*FOOTER*/
.footer {
	position: relative;
	margin-top: 30px;
}
.footer .logo {
	float: left;
}
.footer-phone {
	position: absolute;
	left: 145px;
	top: 15px;
	font-size: 18px;
	line-height: 1.2;
	font-weight: bold;
}
.footer .like {
	position: absolute;
	right: 0;
	top: 25px;
}
.footer .like a {
	color: #39505E;
}
.footer .like a:hover {
	text-decoration: none;
}
.footer .like img {
	margin-top: 5px;
}
.social {
	position: absolute;
	right: 0;
	top: 0;
}
.social a {
	display: inline-block;
	margin-left: 3px;
	pointer: cursor;
}
.social .fb {
	background-position: -50px -200px;
	width: 32px;
	height: 32px;
}
.social .vk {
	background-position: 0 -200px;
	width: 32px;
	height: 32px;
}
/*END FOOTER*/

/*BOTTOM MENU*/
.nav-bottom {
	position: relative;
	background-color: #293542;
	color: #fff;
	font-size: 14px;
	line-height: 1.3;
	width: 100%;
	height: 210px;
	padding-top: 30px;
	margin-top: 110px;
	z-index: 10;
}
.navigation {
	width: 960px;
	height: 100%;
	margin: auto;
	padding-left: 60px;
	box-sizing: border-box;
}
.navcategory {
	float: left;
	width: 140px;
	margin-right: 35px;
}
.navheading, .navlink {
	display: block;
}
.navheading {
	font-weight: bold;
	margin-bottom: 15px;
}
.navlink {
	text-decoration: none;
	color: #fff;
}
.navlink:hover {
	text-decoration: underline;
}
/*END BOTTOM MENU*/